@import url(http://reset5.googlecode.com/hg/reset.min.css);
/*top panel*/
.top-panel {
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid #6C6C6C;
}
.top-panel > ul > li:first-child > a {
    border-radius: 0 0 0 10px;
}
.top-panel > ul > li:last-child > a {
    border-radius: 0 0 10px 0;
}
.top-panel > ul > li.has-sub:hover:after {
    border-bottom: 10px solid #6C6C6C;
}
.top-panel .has-sub ul {
    top: 100%;
}
.top-panel .has-sub ul li a {
    border-bottom: 1px dotted #E2DDE7;
}
/*bottom panel*/
.bottom-panel {
    border-radius: 10px 10px 0 0;
    border-top: 2px solid #6C6C6C;
}
.bottom-panel > ul > li:first-child > a {
    border-radius: 10px 0 0 0;
}
.bottom-panel > ul > li:last-child > a {
    border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
}
.bottom-panel > ul > li.has-sub:hover:after {
    top: 0px;
    border-top: 10px solid #6C6C6C;
}
.bottom-panel .has-sub ul {
    bottom: 100%;
}
.bottom-panel .has-sub ul li a {
    border-top: 1px dotted #E2DDE7;
}
/*panel*/
.panel {
    line-height: 1;
    background: #A39FA8;
    border-right: 1px solid #6C6C6C;
    border-left: 1px solid #6C6C6C;
    display: inline-block;
}
.panel ul,
.panel li,
.panel span,
.panel a {
    margin: 0;
    padding: 0;
    position: relative;
}
.panel a:hover {
    color: #fff;
}
.panel {
    line-height: 1;
    background: #A39FA8;
    border-right: 1px solid #6C6C6C;
    border-left: 1px solid #6C6C6C;
    display: inline-block;
}
.panel:after,
.panel ul:after {
    content: '';
    display: block;
    clear: both;
}
.panel a {
    background: #838185;
    color: #ffffff;
    display: block;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    padding: 19px 20px;
    text-decoration: none;
}
.panel ul {
    list-style: none;
}
.panel > ul > li {
    display: inline-flex;
    margin: 0;
}
.panel > ul > li > a {
    color: #ffffff;
    font-size: 12px;
}
.panel > ul > li:hover:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    bottom: 0;
}
.panel > ul > li.active > a,
.panel > ul > li:hover > a {
    color: #6C6C6C;
    background: #E2DDE7;
}
.panel .has-sub {
    z-index: 1;
}
.panel .has-sub:hover > ul {
    display: block;
}
.panel .has-sub ul {
    display: none;
    position: absolute;
    width: 150px;
    left: 0;
}
.panel .has-sub ul li {
    *margin-bottom: -1px;
}
.panel .has-sub ul li a {
    background: #6C6C6C;
    font-size: 11px;
    filter: none;
    display: block;
    line-height: 120%;
    padding: 10px;
    color: #ffffff;
}
.panel .has-sub ul li:hover a {
    background: #E9D6FD;
}
.panel ul ul li:hover > a {
    color: #6C6C6C;
}
/*general*/
html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    min-width: 400px;
    background-color: #A39FA8;
}
/*Main window*/

.main-window {
    text-align: center;
    width: 100%;
    height: 100%;
}
.central-panel{
    display: inline-block;
    height: calc(100% - 104px);
    width: 100%;
}
.color-holder {
    height: 60%;
    width: 100%;
    text-align: center;
}
.color{
    display: inline-block;
    width: 90%;
    height: 100%;
}
.color-caption {
    width: 100%;
    height: 20%;
}
.separator {
    display: inline-block;
    height: 5%;
    width: 100%;
}
